@import url('https://fonts.googleapis.com/css?family=Montserrat|Concert+One&display=swap');
:root {
  --smokey-white: hsl(0, 0%, 96.9%);
  --main-bg-color: hsl(247.6, 63.2%, 82.9%);
  --title-color: hsl(249, 13%, 30.2%);
  --button-hover: hsl(259.7, 100%, 74.9%);
  --button-color: hsl(260.1, 100%, 65.5%);
  --cta-color: hsl(20.1, 100%, 65.5%);
}
html,
body {
  background-color: var(--main-bg-color) !important;
  min-height: 100%;
}

p,
h5 {
  color: var(--title-color);
}

input[type='text'] {
  border: 0;
  outline: 0;
  background: transparent;
  border: 1px solid black;
}

button {
  background-color: var(--button-color);
  color: var(--smokey-white);
  font-weight: 900;
}

h1 span {
  position: relative;
  opacity: 0;
  color: var(--title-color);
  font-size: 70px;
  font-family: 'Concert One', cursive;
  animation: move-text 0.35s forwards;
}

@keyframes move-text {
  0% {
    bottom: -0.2em;
    opacity: 0;
  }
  50% {
    bottom: 0.2em;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

.rid-text {
  color: var(--title-color);
  font-family: 'Concert One', cursive;
}

.placeholder-text {
  font-family: 'Concert One', cursive;
  color: #ababab;
}

.container {
  font-family: 'Montserrat', sans-serif;
}

.form-box {
  background: var(--smokey-white);
  color: #0a0a0a;
  border: 1px solid hsl(246.9, 14.6%, 53.1%);
  box-shadow: 7px 7px 0px 0px hsl(246.9, 14.6%, 53.1%);
  min-height: 500px;
}

.list-group {
  background: var(--smokey-white);
  color: #0a0a0a;
  border: 1px solid hsl(246.9, 14.6%, 53.1%);
  box-shadow: 7px 7px 0px 0px hsl(246.9, 14.6%, 53.1%);
}

.item {
  animation: item-flop 0.2s;
}

@keyframes item-flop {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.decision-button {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 0px 0px hsl(246.9, 14.6%, 53.1%);
}

.flipped-sweep {
  transform: scaleX(-1);
}

.decision-text {
  color: var(--cta-color);
}

.quote {
  font-size: 0.9em;
}

#cancel-button {
  background-color: lightgray;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 0px 0px hsl(246.9, 14.6%, 53.1%);
}

#inputItem {
  max-width: 65%;
}

#tydi-button {
  background-color: var(--cta-color);
  width: 130px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 3px 3px 0px 0px hsl(246.9, 14.6%, 53.1%);
}

#add-button {
  width: 70px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 3px 3px 0px 0px hsl(246.9, 14.6%, 53.1%);
}

#add-button:hover {
  background-color: var(--button-hover);
  transition: background-color 200ms;
}

#tydi-button:hover {
  background-color: #ffac82;
  transition: background-color 200ms;
}

#footer {
  position: relative;
  top: 10vh;
  left: 0;
  height: 30px; /* Height of the footer */
}

.result-names {
  text-shadow: 1px 1px 1px gray;
}

img {
  width: 45px;
}

.face-img {
  width: 45px;
  filter: opacity(75%);
  margin-top: -5px;
}

.header-border {
  border-bottom: solid;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 50%;
  margin-right: 15px;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: var(--main-bg-color);
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: var(--cta-color);
  margin-top: -3px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #ac51b5;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: var(--main-bg-color);
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: var(--cta-color);
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type='range']::-ms-fill-upper {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type='range']::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: #ac51b5;
}
input[type='range']:focus::-ms-fill-upper {
  background: #ac51b5;
}

.bounce {
  animation: bounce 0.2s;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media (max-width: 768px) {
  .broom {
    width: 35px;
    height: 35px;
  }
  .face-img {
    width: 35px;
  }
}

@media (max-width: 576px) {
  .slider-face {
    margin-left: 5px;
  }
  #close-button {
    margin-left: 10px;
  }
}
