@import url('https://fonts.googleapis.com/css?family=Martel+Sans|Quicksand&display=swap');

body {
  height: 100%;
  background-color: hsl(210, 39.3%, 78%) !important;
}

.container {
  font-family: 'Martel Sans', sans-serif;
}
.title {
  font-family: 'Quicksand', sans-serif;
}

.form-box {
  background: #cfd7ff;
  color: #0a0a0a;
  border: 1px solid #4e57ef;
  box-shadow: 3px 3px 0px 0px #4e57ef;
  min-height: 500px;
}

#inputItem {
  max-width: 65%;
}

#footer {
  bottom: 0;
  position: absolute;
  float: left;
  width: 100vw;
  height: 30px; /* Height of the footer */
}

.result-names {
  text-shadow: 1px 1px 1px gray;
}

.face-img {
  width: 45px;
}

.header-border {
  border-bottom: solid;
}

.bounce {
  animation: bounce 0.2s;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}
